
body { 
    font-family:"Fraunces", sans-serif ;   
}
/* Containers */
  
  .menu-container  {
    background-size: cover;
      color:whitesmoke;
}
.navbar {
background-color: black;
text-align: center;
position:relative;

}
#navbar img {
    width: 200px;
}

.reasons-container {
    background: url("../images/forest.jpg") no-repeat bottom right fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
color: whitesmoke;
margin-top: 0px,0px;

}

.quotes-container {
    color:whitesmoke;
    background-color: rgb(34, 34, 34);
    font-weight: 400;
font-size: small; 
text-align: center;
border-radius: 35%;
}
  
  
  .quotes-container:hover {
    background-color:#0c0c0c;
    color: #e84610;
  }   

.social-media-container { 
    text-align: center;
    justify-content: center; 
}
/* social links*/
.social-links {
    padding-bottom: 1px;
}

.social-links li a i {
    width: 45px;
    height: 45px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 18px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #313131;
    text-shadow: lavender;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;

}

.social-links li a i:hover {
    background: #e84610;
}
/*jumbotron*/
.jumbotron-header {
color:white ;
margin-bottom:20px;
text-align: center;
}
.jumbotron p  {
    color:rgb(239, 239, 250) ;
    margin-bottom:20px;
    font-weight: 900;
    font-size: larger;
    text-align: center;
    border-radius: 50%;

    }
    .jumbotron p:hover {
        background-color:#0f0f0f;
        color: #e84610;
      }   
    /*join us*/
    .signup-form
{
    margin-top: 20px;
    color:#fff;
    background-color:rgba(60, 60, 60, 0.6);
    max-width:flex;
    position:auto;
    align-items:center;
    padding: 30px;
    border-radius: 70%;
}
.signup-form h2 {
    color:#fafafa;
    margin-bottom:20px;
    
}
.text-input {
background:transparent;
color:#fafafa;
width:88%;
height:25px;
margin:5px 0 20px 0;
border:1px solid #fafafa;
border-radius:2px;
    
}
.text-input:hover {
    border-color:#e84610;
}
.join-button  {
    margin-top:20px;
    border-radius:2px;
    padding: 15px 32px 15px 32px ;
    text-align: flex;
    font-size:100%;
    background-color:#e84610;
    color:#fafafa;
    display:center;

}
.join-button:hover {
    background-color:#fafafa;
    color: #e84610;
}
/* join the movement Form */

.form-section {
  clear: center;
  background-size: cover;
  background-position: center;
  height: 900px;
}
/* Media Queries */


/* For screen size (576px and up) */
@media screen and (min-width: 576px) {
    #contact .welcome {
        font-size: 2.5rem;
    }
}

/* For screen size (768px and up) */
@media screen and (min-width: 768px) {
    .btn-css {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 16px;
    }
    .all-spa {
        font-size: 26px;
    }
    #navbar img {
        width: 349px;
        height: 113px;
    }
    .section {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}


/* For large screen size (992px and up) */
@media screen and (min-width: 992px) {
    #contact {
        text-align: left;
    }
    #contact .welcome {
        font-size: 4rem;
        margin-top: 20px;
    }
}
